/* Sección dibujos */
.draws {
  margin: 20px;
}

.draws-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.draws-legend {
  font-size: 1.2em;
}

/* Projects Section Styles */
.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
