/* Sección dibujos */

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Scroll de imágenes */
.slick-slider {
  max-width: 500px;
  margin: 200px 0 0 auto;
  position: relative;
  margin-right: 500px;
}

.slick-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Add rounded corners to the images */
}

/* Color dots */
.slick-dots li button:before {
  color: transparent;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 0;
  opacity: 100;
  color: white;
  margin: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


