/* Header */
.header {
  font-family: "Montserrat", sans-serif;
  background-color: #181818;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.tagline {
  font-size: 1.5em;
  margin-bottom: 20px;
  opacity: 0.8;
}

.introduction {
  font-size: 1.2em;
  line-height: 1.6;
  opacity: 0.9;
}

