/* Header */
.header {
  font-family: "Montserrat", sans-serif;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 200px
}

.tagline {
  margin-bottom: 20px;
  opacity: 0.8;
}

.introduction {
  font-size: 1.2em;
  line-height: 1.6;
  opacity: 0.9;
}

.titleDGG{
  font-size: 10.2em;
}

