.mobile-container {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.mobile-draws {
  display: flex;
}

.mobile-draw-container {
  display: flex;
  flex-direction: row;
}

.mobile-draw {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  max-width: 350px;
}

.mobile-draw img {
  max-width: 100%;
  height: auto;
}

.mobile-draw:last-child {
  margin-right: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Iconos en modo móvil */

.social-media-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}
.social-media-icons a {
  color: #ffffff;
  text-decoration: none;
}

.social-media-icons i {
  transition: color 0.3s ease-in-out;
}
