/* Navbar */
.navbar {
  background-color: #181818;
  display: flex;
  flex-direction: column; /* Set to column to display vertically */
  margin-left: 40px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px; /* Adjust the spacing between items */
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 18px;
}

/* Tamaño, color y hover para links del navbar */
a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

a:hover {
  color: #bb3636;
}

.fixed-bottom {
  bottom: 0;
}

.fixed-left {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}