.navbar {
  top: 14%;
  margin-right: 900px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 40px; /* Adjust the spacing between items */
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 18px;
}

/* Tamaño, color y hover para links del navbar */
a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

a:hover {
  color: #bb3636;
}

.fixed-left {
  left: 0;
}

/* Enlaces a dibujos */

.dcLink{
  margin: 150px 0 0 auto;
  position: relative;
  right: 8px;
  bottom: 40px
}